return {
	-- If provided also consider this issue id
	default_issue = 25810,
	-- Define the order in which the issue id is determined
	-- 		ARG: use the provided command argument as issue id
	-- 		CFG: use the issue id from THIS config file: `default_issue`
	-- 		GIT: use the issue id retrieved from current git branch
	-- 		BUF: use the issue id retrieved from current buffer name
	-- 		CRT: use the last issue id created in the active session
	-- 		LST: use the last issue id used in the active session
	issue_order = { "ARG", "CFG", "GIT", "BUF", "CRT", "LST" },
}
